body {
    background-image: url(../images/weather.png);
    /* max-width: 100%;
    max-height: 100%; */
    /* width: 100vw;
    height: 100vh; */
    /* margin-left: auto;
    margin-right: auto; */
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    border: transparent 3px black;
}

.container-fluid {
    border: transparent 3px black;
}

h1 {
    text-align: center;
    background-image: linear-gradient(to left, purple , blue, lightblue);
    color: blanchedalmond;
}

h2 {
    text-align: start;
}

.search-area {
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
}

.search-area h2 {
    text-align: start;
}

.search {
    text-align: center;
    margin: 8px;
    padding: 5px 48px;
}

#search-btn {
    text-align: center;
    border: solid black 1px;
    background-image: linear-gradient(to left, blue, lightblue);
    padding: 5px 117px;
    margin: 8px;
    /* width: 100%; */
}

#clear-btn {
    text-align: center;
    border: solid black 1px;
    background-image: linear-gradient(to left, red, #FFCCCC);
    padding: 5px 123px;
    margin: 8px;
}

#prior-searches {
    display: flex;
    flex-direction: column;
    border: transparent black 1px;
    width: 64%;
    justify-content: space-around;
    /* padding: 5px 125px; */
    margin: 10px;
    /* margin: 10px;
    padding: 10px; */
}

.prior-search-items {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.current-weather {
    /* display: flex; */
    background-color: 	rgb(254, 255, 245, .6);
    text-align: start;
}

.col-4 {
    padding-left: 0;
}

#five-day-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #002266;
    color: white;
    padding: 10px;
    margin: 10px;
    min-width: 100px;
}

footer {
    text-align: center;
    background-color: #fefff5;
}

.uv-span {
    border: groove white 2px;
    padding: 0 15px;
}

.uv-green {
    background-color: green;
}

.uv-yellow {
    background-color: yellow;
}

.uv-orange {
    background-color: orange;
}

.uv-red {
    background-color: red;
}

.weather-icon2 img {
    height: 25px;
    width: 25px;
}