/* body {
    text-align: center;
} */

.container {
    border: solid 3px black;
}

.container-fluid {
    border: solid 3px black;
}

h1 {
    text-align: center;
    background-image: linear-gradient(to left, purple , blue, lightblue);
    color: blanchedalmond;
}

h2 {
    text-align: start;
}

.search-area {
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
}

.search-area h2 {
    text-align: start;
}

.search {
    text-align: center;
    margin: 8px;
    padding: 5px 48px;
}

#search-btn {
    text-align: center;
    border: solid black 1px;
    background-image: linear-gradient(to left, blue, lightblue);
    padding: 5px 117px;
    margin: 8px;
    /* width: 100%; */
}

.prior-searches {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    width: 95%;
    /* margin: 10px;
    padding: 10px; */
}

.prior-search-items {
    padding: 5px;

}

.current-weather {
    /* display: flex; */
    text-align: start;
}

.col-4 {
    padding-left: 0;
}
/* 
.card {

} */

footer {
    text-align: center;
}